.walter {
	margin-bottom: 50px;
}
.walter .kv {
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.walter .kv video {
	width: 100%;
}
.walter .inner {
	position: relative;
	overflow: hidden;
}
.walter section {
	margin:0 15px;
}
.walter h2 {
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.2;
}
.walter p {
	line-height: 21px;
	white-space: pre-line;
	margin-bottom: 24px;
}
.walter .sns-box {
	display: flex;
	gap:10px;
	margin-bottom: 30px;
}
.walter .sns-box img {
	width: 23px;
}
.walter .sec1 {
	margin-bottom: 40px;
}
.walter .sec1 .l-con {
	padding-top: 59px;
}
.walter .sec1 .r-con {
	margin-right: 40px;
	text-align: center;
}
.walter .sec2 {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom:1px solid #000;
}
.walter .sec2 p {
	margin-bottom: 60px;
}
.walter .sec2 .img-con {
	text-align: center;
	margin-bottom: 29px;
}
.walter .sec3 .img-con {
	text-align: center;
	margin-bottom: 80px;
}
.walter .sec3 .con2 img {
	width: 80%;
}

@keyframes walter-move-l {
	0% {
		translate:-100% 0;
	}
	10% {
		translate: 0 0;
	}
	30% {
		translate: 0 0;
	}
	100% {
		translate:-100% 0;
	}
}
@keyframes walter-move-r {
	0% {
		translate:100% 0;
	}
	10% {
		translate: 0 0;
	}
	30% {
		translate: 0 0;
	}
	100% {
		translate:100% 0;
	}
}
.walter .side-con {
	position: absolute;
}
.walter .side-con.left {
	left:-3px;
	top:594px;
	/* animation: walter-move-l 5s ease-in-out 0s infinite  normal forwards; */
	transform: rotate(90deg);
}
.walter .side-con.left img {
	width: 141px;
}
.walter .side-con.right {
	right:-3px;
	top:2610px;
	transform: rotate(-90deg);
	/* animation: walter-move-r 4s ease-in-out 1.4s infinite  normal forwards; */
}
.walter .side-con.right img {
	width: 150px;
}
