.works .company-sec {
	margin-bottom: 50px;
}
.works h2 {
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 14px;
}
.works .company-sec p {
	white-space: pre-line;
	line-height: 1.6;
	margin-bottom: 30px;
}
.works .inner {
	padding: 50px 15px;
}
